<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
</head>
<body>
    <div class="flex flex-col items-center justify-center min-h-screen p-6">
        <div class="flex flex-col items-center mb-8">
            <h1 class="text-4xl font-bold mb-2">Welcome Danielle!</h1>
            
            <p class="text-lg mb-6">Start flagging!</p>
           
            <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600"
            hx-get="/get-add-person-form"
            hx-trigger="click"
            hx-target="#addPersonForm"
            hx-swap="innerHTML">
        + Add New Person
    </button>
    
    <div id="addPersonForm" class="mt-4">

    
    <div id="folderList"></div> <!-- This is where the result will be shown -->
    

    
    </div>
</body>
</html>


       
<!-- 
        <div class="grid grid-cols-3 gap-4 w-full max-w-2xl">
           