<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-800">
    <div>
        <h1 class="text-4xl font-bold">Welcome to the Home Page</h1>
        <p class="text-lg">This is the content of the home page.</p>
        <section id="home" class="content-section">
          <h1 class="text-4xl font-bold mb-2">Welcome to Flag It!</h1>
          
          <p class="text-lg ">We are a platform that allows you to create and manage your personal notes.</p>
          <p class="text-lg">Sign up now to start organizing your thoughts!</p>
          <p class="text-lg">Already have an account? Login to access your notes!</p>

      </section>
    </div>
</body>
</html>
