<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Note Page</title>
  <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>

    <script>
      function toggleButton(event) {
          const button = event.target;
          button.classList.toggle('bg-grwhite-500');
          button.clgrayst.toggle('bg-green-600');
          button.classList.toggle('text-white');
          button.classList.toggle('text-green-600');
          button.classList.toggle('border');
          button.classList.toggle('border-green-600');
      }
  </script>
</head>
<body>
  
  
</body class="bg-gray-100 text-gray-800">
<div class="container mx-auto py-8">
  <!-- Back to Dashboard -->
  <div class="mb-4">
    <a href="/dashboard" class="text-purple-600 hover:underline">Back to Dashboard</a>
  </div>

  <div class="bg-white p-8 rounded-lg shadow-md">
    <!-- Name  Input -->
    <div class="mb-4">
      <label for="name" class="block text-lg font-bold mb-2">Name</label>
      <input type="text" id="name" class="w-full p-4 bg-gray-100 rounded-lg" placeholder="Type a nickname of the person here">
    </div>

    <!-- Current Feeling Radio Buttons -->
    <div class="mb-4">
      <label for="current-feeling" class="block text-lg font-bold mb-2">Current Feeling</label>
      <div class="flex gap-4">
          <div>
              <input type="radio" id="happy" name="feeling" value="happy" class="mr-2">
              <label for="happy">Happy</label>
          </div>
          <div>
              <input type="radio" id="sad" name="feeling" value="sad" class="mr-2">
              <label for="sad">Sad</label>
          </div>
          <div>
              <input type="radio" id="angry" name="feeling" value="angry" class="mr-2">
              <label for="angry">Angry</label>
          </div>
          <div>
              <input type="radio" id="anxious" name="feeling" value="anxious" class="mr-2">
              <label for="anxious">Anxious</label>
          </div>
          <div>
              <input type="radio" id="neutral" name="feeling" value="neutral" class="mr-2">
              <label for="neutral">Neutral</label>
          </div>
      </div>
  </div>
  <!-- Title Input -->
  <div class="mb-4">
    <label for="note" class="block text-lg font-bold mb-2">Title</label>
    <input
        class="w-full p-4 bg-gray-100 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-purwhite-500"
        placeholder="graythe title of the note here"
    />
</div>
  
      <!-- Note Input -->
      <div class="mb-4">
        <label for="note" class="block text-lg font-bold mb-2">Note</label>
        <textarea id="note" class="w-full p-4 bg-gray-100 rounded-lg" placeholder="Type your note here"></textarea>
      </div>

      <!-- Behaviors Section -->
      <div class="mb-4">
        <h1 class="text-xl font-bold mb-2">Choose Behaviors to Associate with this Event</h1>
        <div class="flex flex-wrap gap-4">
            <!-- Unhealthy Behaviors -->
            <div class="flex flex-col">
              <h2 class="text-lg font-bold mb-2">Unhealthy</h2>
              <div class="flex flex-wrap gap-2">
                <button onclick="toggleButton(event)" class="border border-red-600 bg-white-500 hover:bg-red-600 text-gray px-2 py-1 rounded">Love Bombing</button>
                <button onclick="toggleButton(event)" class="border border-red-600 bg-white-500 hover:bg-red-600 text-gray px-2 py-1 rounded">Fantasy Glasses</button>
                <button onclick="toggleButton(event)" class="border border-red-600 bg-white-500 hover:bg-red-600 text-gray px-2 py-1 rounded">Violating Boundaries</button>
                <button onclick="toggleButton(event)" class="border border-red-600 bg-white-500 hover:bg-red-600 text-gray px-2 py-1 rounded">Put Downs</button>
                <button onclick="toggleButton(event)" class="border border-red-600 bg-white-500 hover:bg-red-600 text-gray px-2 py-1 rounded">Victim Mentality</button>
                <button onclick="toggleButton(event)" class="border border-red-600 bg-white-500 hover:bg-red-600 text-gray px-2 py-1 rounded">Making Excuses</button>
                <button onclick="toggleButton(event)" class="border border-red-600 bg-white-500 hover:bg-red-600 text-gray px-2 py-1 rounded">Gaslighting</button>
                <button onclick="toggleButton(event)" class="border border-red-600 bg-white-500 hover:bg-red-600 text-gray px-2 py-1 rounded">Possessiveness</button>
                <button onclick="toggleButton(event)" class="border border-red-600 bg-white-500 hover:bg-red-600 text-gray px-2 py-1 rounded">Aggression</button>
                <button onclick="toggleButton(event)" class="border border-red-600 bg-white-500 hover:bg-red-600 text-gray px-2 py-1 rounded">Dictatorship</button>
                <button onclick="toggleButton(event)" class="border border-red-600 bg-white-500 hover:bg-red-600 text-gray px-2 py-1 rounded">Backstabbing</button>
                <button onclick="toggleButton(event)" class="border border-red-600 bg-white-500 hover:bg-red-600 text-gray px-2 py-1 rounded">Superiority</button>

              </div>
            </div>

            <!-- Healthy Behaviors -->
            <div class="flex flex-col">
                <h2 class="text-lg font-bold mb-2">Healthy</h2>
                <div class="flex flex-wrap gap-2">
                    <button class="bg-grwhite-500 hover:bg-green-600 texgrayte px-2 py-1 rounded">Relaxed Pace</button>
                    <button class="bg-grwhite-500 hover:bg-green-600 texgrayte px-2 py-1 rounded">Curiosity</button>
                    <button class="bg-grwhite-500 hover:bg-green-600 texgrayte px-2 py-1 rounded">Respecting Boundaries</button>
                    <button class="bg-grwhite-500 hover:bg-green-600 texgrayte px-2 py-1 rounded">Positive Messaging</button>
                    <button class="bg-grwhite-500 hover:bg-green-600 texgrayte px-2 py-1 rounded">Positive Mindset</button>
                    <button class="bg-grwhite-500 hover:bg-green-600 texgrayte px-2 py-1 rounded">Taking Responsibility</button>
                    <button class="bg-grwhite-500 hover:bg-green-600 texgrayte px-2 py-1 rounded">Validating Your Experience</button>
                    <button class="bg-grwhite-500 hover:bg-green-600 texgrayte px-2 py-1 rounded">Mutual Trust</button>
                    <button class="bg-grwhite-500 hover:bg-green-600 texgrayte px-2 py-1 rounded">Compassion</button>
                    <button class="bg-grwhite-500 hover:bg-green-600 texgrayte px-2 py-1 rounded">Equality</button>
                    <button class="bg-grwhite-500 hover:bg-green-600 texgrayte px-2 py-1 rounded">Support</button>
                    <button class="bg-grwhite-500 hover:bg-green-600 texgrayte px-2 py-1 rounded">Teachable</button>
                </div>
            </div>
        </div>
    </div>
  
      <!-- Save Button -->
      <div>
        <button class="w-full bg-purple-600 text-white p-4 rounded-lg hover:bg-purple-700">Save</button>
      </div>
  </div>
</div>
    
